 
        * {
            padding: 0px;
            margin: 0px;
        }
        
        #mainDiv {
            font-family: sans-serif;
        }
        
        .head {
            min-height: 65px;
            width: 100%;
            background-color: #f82f5c;
            color: #fff;
            box-shadow: 0px 2px 3px 0px rgba(248, 47, 92, 0.53);
        }
        
        .head h2 {
            text-align: center;
            padding-top: 18px;
        }
        
        .buttons-container {
            padding: 1.5% 1.5%;
            width: 20%;
            float: left;
        }
        
        .switch-btn {
            background: #f82f5c;
            border: 0 none;
            border-bottom: 3px solid #e61a1a;
            color: #fff;
            font-size: 15px;
            cursor: pointer;
            text-align: center;
            width: 80px;
            height: 40px;
            margin-bottom: 10px;
            outline: none;
            transition: all .20s ease-in-out;
        }
        
        .switch-btn:hover {
            background: rgb(66, 1, 15);
            color: #ffffff;
            font-weight: 500;
        }
        
        .screens-container {
            width: 75%;
            float: left;
            border-left: 1px solid #f82f5c;
        }
        
        .screen {
            width: 90%;
            margin: auto;
            padding: 1.5% 1.5%;
            display: none;
        }
        
        hr {
            width: 115px;
            margin: 0 auto;
            border-color: #f82f5c;
        }
        
        .screen h3 {
            text-align: center;
            color: #f82f5c;
            font-weight: 600;
        }
        
        .screen-heading {
            margin-bottom: 10px;
        }
        
        .screen-body {
            font-family: verdana, sans-serif;
            font-size: 15px;
        }
        
        .active {
            background: rgb(66, 1, 15);
            color: #ffffff;
            font-weight: 500;
        }
        
        .screen-body p:nth-child(1) {
            margin-bottom: 5px;
            color: #f82f5c;
            text-decoration: underline;
        }
        
        .entry-field {
            margin-bottom: 10px;
        }
        input{
            width: 100%;
            padding: 5px;
        }
        .status{
            width: 98%;
            margin: auto;
        }